@{
    ViewData["Title"] = "Home Page";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        @await Html.PartialAsync("PartialViews/Banners",(IEnumerable<Hotel.Data.Data.CMS.MainPage.Banner>)ViewBag.Banner)
    </div>
</div>
<!-- slider_area_end -->
<!-- about_area_start -->
@await Html.PartialAsync("PartialViews/AboutUsPanel",(Hotel.Data.Data.CMS.About.AboutPage)ViewBag.AboutUs)
<!-- about_area_end -->
<!-- offers_area_start -->
<div class="offers_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <span>Our Offers</span>
                    <h3>Ongoing Offers</h3>
                </div>
            </div>
        </div>
        <div class="row">
            @await Html.PartialAsync("PartialViews/Offers",(IEnumerable<Hotel.Data.Data.CMS.Offers.Offer>)ViewBag.Offers)
        </div>
    </div>
</div>
<!-- offers_area_end -->
<!-- video_area_start -->
<div class="video_area video_bg overlay">
    @await Html.PartialAsync("PartialViews/Videos",(IEnumerable<Hotel.Data.Data.CMS.MainPage.Video>)ViewBag.Video)
</div>
<!-- video_area_end -->
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb2 d-flex">
                    <div class="img_1">
                        <img src="~/lib/bootstrap/img/about/1.png" alt="">
                    </div>
                    <div class="img_2">
                        <img src="~/lib/bootstrap/img/about/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>Delicious Food</span>
                        <h3>
                            We Serve Fresh and <br>
                            Delicious Food
                        </h3>
                    </div>
                    <p>
                        Suscipit libero pretium nullam potenti. Interdum, blandit phasellus consectetuer dolor ornare
                        dapibus enim ut tincidunt rhoncus tellus sollicitudin pede nam maecenas, dolor sem. Neque
                        sollicitudin enim. Dapibus lorem feugiat facilisi faucibus et. Rhoncus.
                    </p>
                    <a href="#" class="line-button">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->
<!-- features_room_startt -->
<div class="features_room">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <span>Featured Rooms</span>
                    <h3>Choose a Better Room</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="rooms_here">
        @await Html.PartialAsync("PartialViews/Rooms",(IEnumerable<Hotel.Data.Data.Booking.Extensions.Types>)ViewBag.Types)
    </div>
</div>
<!-- features_room_end -->