@{
    ViewData["Title"] = "Rooms";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_1">
    <h3>Laxaries Rooms</h3>
</div>
<!-- bradcam_area_end -->
<!-- offers_area_start -->
<div class="offers_area padding_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <span>Our Offers</span>
                    <h3>Ongoing Offers</h3>
                </div>
            </div>
        </div>
        <div class="row">
            @await Html.PartialAsync("PartialViews/Offers",(IEnumerable<Hotel.Data.Data.CMS.Offers.Offer>)ViewBag.Offers)
            
        </div>
    </div>
</div>
<!-- offers_area_end -->
<!-- features_room_startt -->
<div class="features_room">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <span>Featured Rooms</span>
                    <h3>Choose a Better Room</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="rooms_here">
        <div class="single_rooms">
            <div class="room_thumb">
                <img src="~/lib/bootstrap/img/rooms/1.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>From $250/night</span>
                        <h3>Superior Room</h3>
                    </div>
                    <a href="#" class="line-button">book now</a>
                </div>
            </div>
        </div>
        <div class="single_rooms">
            <div class="room_thumb">
                <img src="~/lib/bootstrap/img/rooms/2.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>From $250/night</span>
                        <h3>Deluxe Room</h3>
                    </div>
                    <a href="#" class="line-button">book now</a>
                </div>
            </div>
        </div>
        <div class="single_rooms">
            <div class="room_thumb">
                <img src="~/lib/bootstrap/img/rooms/3.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>From $250/night</span>
                        <h3>Signature Room</h3>
                    </div>
                    <a href="#" class="line-button">book now</a>
                </div>
            </div>
        </div>
        <div class="single_rooms">
            <div class="room_thumb">
                <img src="~/lib/bootstrap/img/rooms/4.png" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>From $250/night</span>
                        <h3>Couple Room</h3>
                    </div>
                    <a href="#" class="line-button">book now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_room_end -->