@{
    ViewData["Title"] = "Rooms";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_1">
    <h3>Laxaries Rooms</h3>
</div>
<!-- bradcam_area_end -->
<!-- offers_area_start -->
<div class="offers_area padding_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <span>Our Offers</span>
                    <h3>Ongoing Offers</h3>
                </div>
            </div>
        </div>
        <div class="row">
            @await Html.PartialAsync("PartialViews/Offers",(IEnumerable<Hotel.Data.Data.CMS.Offers.Offer>)ViewBag.Offers)
            
        </div>
    </div>
</div>
<!-- offers_area_end -->
<!-- features_room_startt -->
<div class="features_room">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <span>Featured Rooms</span>
                    <h3>Choose a Better Room</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="rooms_here">
        @await Html.PartialAsync("PartialViews/Rooms",(IEnumerable<Hotel.Data.Data.Booking.Extensions.Types>)ViewBag.Types)
    </div>
</div>
<!-- features_room_end -->