@model Hotel.Data.Data.Booking.Room

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRoom" />
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.Statuses"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            @if (ViewBag.Facilities != null)
            {
                <div class="col-md-4">
                    <h4>Selected Facilities</h4>
                    <ul>
                        @foreach (var facility in ViewBag.Facilities)
                        {
                            <li>@facility.NameFacility</li>
                        }
                    </ul>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div class="col-md-4">
            <a asp-action="EditFacilities" asp-route-id="@Model.IdRoom" class="btn btn-secondary">Edit Facilities</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
