@model Hotel.Data.Data.CMS.About.AboutPage

<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>About Us</span>
                        <h3>
                            @Model.Content1Title
                        </h3>
                    </div>
                    <p>@Model.Content1Description</p>
                    <a href="#" class="line-button">Learn More</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb d-flex">
                    <div class="img_1">
                        <img src="@Model.Content1Picture1Url" alt="">
                    </div>
                    <div class="img_2">
                        <img src="@Model.Content1Picture2Url" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
