@model Hotel.PortalWWW.Models.BookingModel
@{
    ViewData["Title"] = "Submit";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_1">
    <h3>Submit</h3>
</div>

<h1>@ViewBag.Message</h1>