<!DOCTYPE html>
<html>
	<style></style>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Hotel Dashboard Template</title>
	<link rel="shortcut icon" type="~/lib/bootstrap/image/x-icon" href="img/favicon.png">
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/css/feathericon.min.css">
	<link rel="stylehseet" href="https://cdn.oesmith.co.uk/morris-0.5.1.css">
	<link rel="stylesheet" href="~/lib/bootstrap/plugins/morris/morris.css">
	<link rel="stylesheet" href="~/lib/bootstrap/css/style.css">
</head>

<body>
	<div class="main-wrapper">
		<div class="header">
			<a asp-area="" asp-controller="Home" asp-action="Index">
				<div class="header-left">
				<div style="width:30%;float:left;">
					 <img src="https://i.imgur.com/MR7xXf3.png" style="padding-top:8px;" width="70" height="70" alt="logo">
				</div>
				<div style="padding-top:7%;font-weight:bold;letter-spacing:5px;font-family:sans-serif;">
					<span id="logoclass" style="display:block;color:black;">TRAPISE<br/>RESORT</span>
				</div>
					@*<a asp-area="" asp-controller="Home" asp-action="Index" class="logo logo-small"> <img src="https://i.imgur.com/MR7xXf3.png" alt="Logo" width="30" height="30"> </a>*@
				</div>
			</a>
			<a href="javascript:void(0);" id="toggle_btn" onclick="hide()"> <i class="fe fe-text-align-left"></i> </a>
			<a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
			@*<ul class="nav user-menu">
				<li class="nav-item dropdown noti-dropdown">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span> </a>
					<div class="dropdown-menu notifications">
						<div class="topnav-dropdown-header"> <span class="notification-title">Notifications</span> <a href="javascript:void(0)" class="clear-noti"> Clear All </a> </div>
						<div class="noti-content">
							<ul class="notification-list">
								<li class="notification-message">
									<a href="#">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="~/lib/bootstrap/img/profiles/avatar-02.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="~/lib/bootstrap/img/profiles/avatar-11.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">
														International Software
														Inc
													</span> has sent you a invoice in the amount of <span class="noti-title">$218</span>
												</p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="~/lib/bootstrap/img/profiles/avatar-17.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">
														Apple iPhone
														XR
													</span>
												</p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="~/lib/bootstrap/img/profiles/avatar-13.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">
														Mercury Software
														Inc
													</span> added a new product <span class="noti-title">
														Apple
														MacBook Pro
													</span>
												</p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span> </p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="topnav-dropdown-footer"> <a href="#">View all Notifications</a> </div>
					</div>
				</li>
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" src="~/lib/bootstrap/img/profiles/avatar-01.jpg" width="31" alt="Soeng Souy"></span> </a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm"> <img src="~/lib/bootstrap/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle"> </div>
							<div class="user-text">
								<h6>Soeng Souy</h6>
								<p class="text-muted mb-0">Administrator</p>
							</div>
						</div> <a class="dropdown-item" href="profile.html">My Profile</a> <a class="dropdown-item" href="settings.html">Account Settings</a> <a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</li>
			</ul>*@
			@*<div class="top-nav-search">
				<form>
					<input type="text" class="form-control" placeholder="Search here">
					<button class="btn" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>*@
		</div>
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="active"> <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a> </li>
						<li class="list-divider"></li>
						<li class="submenu">
							<a href="#"><i class="fa fa-suitcase"></i> <span> Reservations </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="Reservations" asp-action="Index">Reservations </a></li>
								<li><a asp-area="" asp-controller="Reservations" asp-action="CreateReservationDate">Create Reservation</a></li>
								<li><a asp-area="" asp-controller="Reservations" asp-action="Edit">Edit Reservations </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-gift"></i> <span> Offers </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="Options" asp-action="Index">Options </a></li>
								<li><a asp-area="" asp-controller="Options" asp-action="Create">Create Options </a></li>
								<li><a asp-area="" asp-controller="Options" asp-action="Edit">Edit Options </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-home"></i> <span> Types </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="Types" asp-action="Index">Types</a></li>
								<li><a asp-area="" asp-controller="Types" asp-action="Create">Add Types </a></li>
								<li><a asp-area="" asp-controller="Types" asp-action="Edit">Edit Types </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-money-bill-alt"></i> <span> RoomPricing </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="RoomPricing" asp-action="Index">RoomPricing</a></li>
								<li><a asp-area="" asp-controller="RoomPricing" asp-action="Create">Add RoomPricing </a></li>
								<li><a asp-area="" asp-controller="RoomPricing" asp-action="Edit">Edit RoomPricing </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fa fa-paint-brush"></i> <span> CleaningTasks </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="CleaningTasks" asp-action="Index">CleaningTasks</a></li>
								<li><a asp-area="" asp-controller="CleaningTasks" asp-action="Create">Add CleaningTasks </a></li>
								<li><a asp-area="" asp-controller="CleaningTasks" asp-action="Edit">Edit CleaningTasks </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-tools"></i> <span> RepairTasks </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="RepairTasks" asp-action="Index"> RepairTasks</a></li>
								<li><a asp-area="" asp-controller="RepairTasks" asp-action="Create">Add RepairTasks </a></li>
								<li><a asp-area="" asp-controller="RepairTasks" asp-action="Edit">Edit RepairTasks </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-star"></i> <span> Facilities </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="Facilities" asp-action="Index"> Facilities</a></li>
								<li><a asp-area="" asp-controller="Facilities" asp-action="Create">Add Facilities </a></li>
								<li><a asp-area="" asp-controller="Facilities" asp-action="Edit">Edit Facilities </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-star"></i> <span> Employee </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="Employee" asp-action="Index"> Employee</a></li>
								<li><a asp-area="" asp-controller="Employee" asp-action="Create">Add Employee </a></li>
								<li><a asp-area="" asp-controller="Employee" asp-action="Edit">Edit Employee </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-door-open"></i> <span> Rooms </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="@Url.Action("Index","Rooms")">All Rooms </a></li>
								<li><a href="edit-room.html"> Edit Rooms </a></li>
								<li><a href="@Url.Action("Create","Rooms")" "> Add Rooms </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="far fa-file"></i> <span> Raport </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="@Url.Action("Raport","Home")">Raport </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-user"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a asp-area="" asp-controller="Pages" asp-action="Index">Pages</a></li>
								<li><a asp-area="" asp-controller="Pages" asp-action="Create">Add Pages </a></li>
								<li><a asp-area="" asp-controller="Pages" asp-action="Edit">Edit Pages </a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-wrapper">
			@RenderBody()
		</div>
	</div>
	<script>
		function hide() {
			var logoTextDiv = document.getElementById('logoclass');
			if (logoTextDiv.style.display === 'none') {
				logoTextDiv.style.display = 'block';
			} else {
				logoTextDiv.style.display = 'none';
			}
		}

	</script>
	<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="~/lib/bootstrap/js/jquery-3.5.1.min.js"></script>
	<script src="~/lib/bootstrap/js/popper.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~/lib/bootstrap/plugins/raphael/raphael.min.js"></script>
	<script src="~/lib/bootstrap/plugins/morris/morris.min.js"></script>
	<script src="~/lib/bootstrap/js/chart.morris.js"></script>
	<script src="~/lib/bootstrap/js/script.js"></script>
	@await RenderSectionAsync("Scripts", required:false)
</body>

</html>